server:
    port: 8080
spring:
    datasource:
        #type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/infinitemusic?serverTimezone=UTC
        username: root
        password: tyl20252825

    mvc:
        pathmatch:
            matching-strategy: ant_path_matcher

# MongoDB 配置
    data:
        mongodb:
            host: localhost
            port: 27017
            database: SONGLIST
infinite:
    jwt:
        # 设置jwt签名加密时使用的秘钥
        secret-key: infinitemusic
        # 设置jwt过期时间
        ttl: 1209600000 # 14天
        # 设置前端传递过来的令牌名称
        token-name: token